<div class="bulle-phantom-container-1">
  <div class="bulle-phantom-1">
    <div class="phantom-help-1">
      Besoin d’un rappel des règles ?
    </div>
  </div>
  <img class="referee-mascotte" src="https://res.cloudinary.com/dreiyfvcb/image/upload/v1733215355/White_pzlu0p.svg" alt="Referee Mascotte 1" />
</div>