<div class="bulle-phantom-container">
  <div class="bulle-phantom">
    <div class="phantom-help-2">
      Ne t’inquiète pas, je serai là pour te donner des indications lorsque des
      évènements spéciaux arriveront ! Comme les coups impossibles et la capture
      de pierre !
    </div>
  </div>
  <img class="referee-mascotte" src="https://res.cloudinary.com/dreiyfvcb/image/upload/v1733215355/White_pzlu0p.svg" alt="Referee Mascotte 2"/>
</div>
