<div class="home">
  <div class="page-1"></div>
  <div class="footer"></div>
  <div class="page-2"></div>

  <img class="illustration-rule-2" src="https://res.cloudinary.com/dreiyfvcb/image/upload/v1733235105/Component_7_deb0s8.svg" />
  <img class="illustration-rule-1" src="https://res.cloudinary.com/dreiyfvcb/image/upload/v1733231660/Component_6_pxmufa.svg" />

  <div class="logo-phantom-go">
    <img src="https://res.cloudinary.com/dreiyfvcb/image/upload/v1732802263/Logo_white_1_pf2tt7.png" alt="Phantom Go" class="logo-image" style="width: 271px;" />
  </div>

  <div class="buttons">
    <%= button_to "Jouer", availabilities_path, data: { turbo_method: :create }, class: "button auto-match-button" %>
  </div>

  <div class="game-board">
    <img src="https://res.cloudinary.com/dreiyfvcb/image/upload/v1733236695/go-board-game-3d-icon-download-in-png-blend-fbx-gltf-file-formats--checkers-sport-pack-sports-games-icons-4617571_1_j0jfor.svg" alt="Go board" class="board"  />
  </div>

  <div class="regle1" >
    Ici, le jeu se joue sur un plateau de 6x6 intersections.
      <br />
      <br />
    Un joueur utilise des pierres noires, l&#039;autre des pierres blanches.Noir commence toujours !
      <br />
      <br />
    Les joueurs placent une pierre à tour de rôle sur les intersections vides du plateau.
  </div>

  <div class="regle3" >
    La partie se termine lorsque les deux joueurs passent leur tour
    consécutivement.
      <br />
      <br />
    Chaque joueur compte les intersections vides qu&#039;il contrôle et les
    pierres capturées. Le joueur avec le plus de points (territoire + captures)
    gagne.
  </div>

  <div class="regle2">
    Une pierre ou un groupe de pierres a des &quot;libertés&quot;,
    c&#039;est-à-dire des intersections vides adjacentes.
      <br />
      <br />
    Si toutes les libertés sont occupées par l&#039;adversaire, les pierres sont
    capturées et retirées du plateau !
  </div>

  <img class="illustration-rule-4" src="https://res.cloudinary.com/dreiyfvcb/image/upload/v1733235294/Component_5_jeh3gi.svg" />

  <div class="regle4">
    Au go fantôme, comme dans une bataille navale, les pierres de
    l&#039;adversaire sont invisibles sur le plateau. Cela signifie que chaque
    joueur ne connaît que ses propres coups et doit déduire l&#039;emplacement
    des pierres adverses !
  </div>

  <img class="fleche" src="https://res.cloudinary.com/dreiyfvcb/image/upload/v1733236913/Polygon_1_a6i3th.svg" />
  <img class="illustration-rule-3" src="https://res.cloudinary.com/dreiyfvcb/image/upload/v1733235122/Component_8_emad4d.svg" />

  <div class="buttons2">
    <div class="button">Jouer</div>
  </div>

  <div class="bulle-phantom-container-1">
    <div class="bulle-phantom-1"></div>
    <img class="referee-mascotte-1" src="https://res.cloudinary.com/dreiyfvcb/image/upload/v1733215355/White_pzlu0p.svg" />
    <div class="phantom-help-1">
      Besoin d’un rappel des règles ?
    </div>
  </div>

  <div class="bulle-phantom-container">
    <div class="bulle-phantom"></div>
    <div class="phantom-help-2" >
      Ne t’inquiète pas, je serai là pour te donner des indications lorsque des
      évènements spéciaux arriveront ! Comme les coups impossibles et la capture
      de pierre !
    </div>
    <img class="referee-mascotte-2" src="https://res.cloudinary.com/dreiyfvcb/image/upload/v1733215355/White_pzlu0p.svg" />
  </div>

  <div class="profile-container">
    <img class="profile" src="https://res.cloudinary.com/dreiyfvcb/image/upload/v1733235671/Component_11_rly63e.svg" />
  </div>

</div>
