<div class="container-home">
  <div class="scroll">
    <div class="content-home">
      <div class="welcome">
        <div class="logo">
          <img src="https://res.cloudinary.com/dreiyfvcb/image/upload/v1732802263/Logo_white_1_pf2tt7.png" alt="Phantom Go" class="logo-image">
        </div>

        <div class="game-board">
          <%= image_tag("board.png", class: "board-image")%>
        </div>

        <%= button_to "Jouer", availabilities_path, data: {turbo_method: :create}, class: "auto-match-button" %>
      </div>
      <%= render 'components/rules' %>
    </div>
  </div>
  <%= render 'components/fleche' %>
</div>
