<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=412, initial-scale=1.0">
  <title>Phantom Go</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
</head>
<body>
  <div class="container">
    <header class="header">
      <div class="profile-icon">
        <a href="votre_lien.html" class="profile-button">
          <i class="fa-regular fa-user" style="color: #ffffff;"></i>
        </a>
      </div>
    </header>

    <main class="main">
      <h1 class="logo">
        PHANTOM <span class="ghost-black">●</span> <span class="ghost-white">👻</span>
      </h1>
      <div class="game-board">
        <img src="board.png" alt="Plateau de jeu" class="board-image">
      </div>
      <%# <button class="auto-match-button">Auto-Match</button> %>
      <%= link_to 'Auto-Match', game_path(1), class: 'btn auto-match-button' %>
    </main>

    <footer class="footer">
      <a href="#" class="how-to-play">Comment jouer ?</a>
    </footer>
  </div>
</body>
</html>
