<div class="intersection" data-goban-target="intersection" data-action="click->goban#play" data-column="<%=column%>" data-row="<%=row%>">
    <div class="horizontal"></div>
    <div class="vertical"></div>
    <% stone = goban.stone_at(column, row.to_i)%>
    <%if stone.color == color%>
    <div class="stone <%= color %>"></div>
    <%end%>
  </div>
