<div class="intersection" data-goban-target="intersection" data-action="click->goban#play" data-column="<%=column%>" data-row="<%=row%>" data-status="empty">
    <div class="horizontal"></div>
    <div class="vertical"></div>
  </div>
