<div class="intersection" data-goban-target="intersection" data-action="click->goban#play" data-column="<%=column%>" data-row="<%=row%>" data-status="empty">
    <div class="horizontal"></div>
    <div class="vertical"></div>
    <% turn = turns.find_by(column: column, row: row)%>
    <%if turn && last_stone_color(turn) == color%>
    <div class="stone <%=last_stone_color(turn)%>"></div>
    <%end%>
  </div>
