<div class="referee-container">
  <div class="referee-message-container">
    <p class="referee-message">Coup impossible !</p>
    </div>
    <div class="referee-mascotte">
  </div>
      <%= image_tag "mascotte.svg", alt: "Mascotte" %>
</div>
