<div class="referee-container">
  <div id="referee-message-container">
    <%= render "referee_disclaimer", message: message%>
  </div>
  <div class="referee-mascotte">
    <%= image_tag "mascotte.svg", alt: "Mascotte" %>
  </div>
</div>
