<div class="referee-container mt-3 row align-items-center justify-content-between">
  <!-- Message de l'arbitre -->
  <div class="referee-message-container col-8 d-flex align-items-center">
    <p> Le joueur noir remporte la victoire !</p>
  </div>

  <!-- Mascotte de l'arbitre -->
  <div class="referee-mascotte col-3 d-flex justify-content-center align-items-center">
    <%= image_tag "mascotte.svg", alt: "Mascotte", class: "img-fluid" %>
  </div>
</div>
