.bulle-phantom-container-1 {
  width: 263px;
  height: 67.81px;
  position: absolute;
  left: 61px;
  top: 819px;
}

.bulle-phantom-1 {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 33px;
  width: 89.73%;
  height: 70.79%;
  position: absolute;
  right: 0%;
}

.phantom-help-1 {
  color: var(--secondary-color, #331581);
  text-align: center;
  font-family: "AoboshiOne-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 21px;
  top: 12px;
  width: 250px;
}

.bulle-phantom-container {
  width: 378px;
  height: 130px;
  position: absolute;
  left: 17px;
  top: 1826px;
}

.bulle-phantom {
  background: #ffffff;
  border-radius: 100px;
  width: 323px;
  position: absolute;
  right: 0%;
  left: 14.55%;
  bottom: 10%;
  top: 0%;
}

.phantom-help-2 {
  color: var(--color-900, #000000);
  text-align: left;
  font-family: "AoboshiOne-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 91px;
  top: 14px;
  width: 252px;
  height: 108px;
}

.referee-mascotte-1 {
  width: 16.14%;
  height: 68.57%;
  position: absolute;
  right: 83.73%;
  left: 0.13%;
  bottom: 0.46%;
  top: 30.97%;
  transform: translate(-0.34px, 0px);
  overflow: visible;
}

.referee-mascotte-2 {
  width: 11.23%;
  height: 35.76%;
  position: absolute;
  right: 88.68%;
  left: 0.09%;
  bottom: 31.93%;
  top: 32.31%;
  transform: translate(-0.34px, 0px);
  overflow: auto;
}
