.referee-mascotte-1 {
  width: 16.14%;
  height: 68.57%;
  position: absolute;
  right: 83.73%;
  left: 0.13%;
  bottom: 0.46%;
  top: 30.97%;
  transform: translate(-0.34px, 0px);
  overflow: visible;
}
