<div data-controller="availabilities" data-availabilities-id-value="<%= @availability.id %>">

<h1> Bienvenue <%= @availability.player.username %> </h1>

<p> Merci de patienter, un autre joueur arrive !</p>

</div>
