<div data-controller="availabilities" data-availabilities-id-value="<%= @availability.id %>">

<h1> bienvenue <%= @availability.player.username %> </h1>

<p> merci de patienter, un autre joueur arrive !</p>

</div>
