<div data-controller="availabilities" data-availabilities-id-value="<%= @availability.id %>">
  <div class="d-flex">
    <div class="animation-black"></div>
    <div class="animation-white"></div>

  </div>
  <div class="col-12">
<h1> Bienvenue <%= @availability.player.username %> </h1>

<p> Merci de patienter, un autre joueur arrive !</p>
</div>
</div>
